/* slider start----------------------------------------------------------------------------------- */


#slidy-container { 
    width: 90%; 
    overflow: hidden; 
    /* margin: 0 auto; */
    height: auto;
    margin: 0 auto;
    padding-top:30px;
    /* margin-bottom: 500px;; */
    /* background-color: pink; */
  }
  /* #slidy-container img{
    height:900px;
  } */

  /* slider end--------------------- */

  /* our vision start---------- */

  .overvision_head{
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;;
  }

  .ourvisioncontainer {
    display: flex;
    /* margin: 0 auto; */
    max-width: 2500px;
    border-radius: 10px;
    margin-left:10%;
    margin-right:10%;

  }
  
  .ourvisioncontainer .text{
    border-radius: 20px 0 0 20px;
      margin: 0;
      padding-right: 60px;
      background-color: white;
      width: 70%;
      padding-left:50px;
    
  }
  
  .ourvisioncontainer .text h1{
    font-family: 'Spicy Rice', cursive;  
        font-size: 34px;
        letter-spacing: 2px;
        color: #E3AE57;
    
  }
  .ourvisioncontainer .text p{
    font-family: 'Lato', sans-serif;
        font-size: 28px;
        line-height: 1.5em;
        color:black;
    
  }
  
  .ourvisioncontainer figure {
      margin: 0;
      width: 50%;
      height: 700px;
      background-position: center;
      background-size: cover;
      padding:200px;
      
      background-image: url(https://img.freepik.com/free-photo/business-concept-with-team-close-up_23-2149151159.jpg?size=626&ext=jpg);
      border-radius: 0 20px 20px 0;
  }


  

/* news------------------- */

.news {
  padding: 40px;
  font-family: Georgia, serif;
  font-size: 28px;
  text-align: center;
  background: white;
  padding-bottom:100px;
}
.news h1{
  font-size: 50px;
  padding-bottom: 50px;
}


.ticker-wrapper {
  border-top: 1px solid #aaa;
  border-radius: 10px;
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.12) 0%,
    rgba(0, 0, 0, 0.03) 80%
  ); */
  background: #15a8d4;
  position: relative;
  padding: 10px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;
}

.ticker-item {
  box-sizing: border-box;
  display: block;
  /* font-weight: bold; */
  position: absolute;
  text-align: center;
  padding: 6px;
  width: 100%;
  opacity: 0;
  top: 6px;
  color:white;
}

.ticker-size-guide {
  visibility: hidden;
  padding: 6px;
  font-weight: bold;
  pointer-events: none;
}

.active-ticker-item {
  opacity: 1;
  -webkit-animation: slide-in-bottom
    0.8s
    cubic-bezier(0.250, 0.460, 0.450, 0.940)
    both;
  animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.leaving-ticker-item {
  -webkit-animation: slide-out-top
    0.8s
    cubic-bezier(0.550, 0.085, 0.680, 0.530)
    both;
  animation: slide-out-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-6-12 18:7:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
